.billsPage {
    &--button {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }
}


@media screen and (max-width: 1000px) {
    .billsPage {
        &--button {
            position: relative;
            margin-bottom: 2rem;
        }
    }

}