.billPageDetail {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--form {
        padding: 1rem;
        background-color: rgb(253, 253, 253);
        border: 1px solid black;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-bottom: 3rem;

        &--input {
            margin: 1rem;
            border-radius: 0.25rem;
        }
    }
}